
$f-color : #fff;
$font : 'sans-serif';

.footer {
    position: fixed;
    width: 100%;
    background-color: #111;
    padding: 10px;
}

h1.footer-header {
    font-size: 1em;
    padding-bottom: 5px;
    color: $f-color;
    font-family: $font;
}

footer .footer-list {
    margin-bottom: 20px; 
    text-align:center;
}

footer ul li a{
    color: $f-color;
    
    &:hover {
        text-decoration:none;
    }
}

.form-h {
  color:#fff;
  text-align:center;
}
h1.form-h {
  padding-top: 10px;
}
h2.form-h {
  font-size: 1em;
}
div.form-url {
  border:solid 1px black;
  background-image: image-url("url-bg.jpg");
  background-color:blue;
}
div.url-short-form {
  margin: 0 auto;
  padding: 0px 5% 20px 5%;

}

.url-text-field {
  width:100%;
  padding:10px;
  position:relative;

}

div.actions .shorten-button {
  padding:11px;
  border-radius:0px 0.25rem 0.25rem 0px;
}
div.actions {
  position:absolute;
  top:0px;
  right:-5px;
}

.field.url {
  width:100%;
  position:relative;
}

.url {

}

